Flask==0.10.1
Flask-Autodoc==0.1.2
Flask-Cache==0.13.1
Flask-Login==0.3.2
Flask-Session==0.2.3
Flask-Triangle==0.5.4
MySQL-python==1.2.5
Pillow==2.3.0
Werkzeug==0.11.3
coverage==4.0.3
flask-memcache-session==2.0
lockfile==0.8
logilab-common==0.61.0
mock==1.3.0
oauthlib==0.6.1
pylint==1.1.0
python-memcached==1.57
unittest2==1.1.0
wheel==0.24.0
wsgiref==0.1.2
filemagic==1.6
